.playlist-card
	display inline-block
	margin-bottom 30px
	background-color #fff
	.card-main
		width 298px
		border 1px solid #dfdfdf
		box-shadow 0px 1px 2px 0px rgba(158,158,158,0.2)
		.card-header
			height 260px
			position relative
			overflow hidden
			img
				width 100%
		.card-header:hover
			.play-icon
				bottom 0

		.card-body
			padding 10px 10px 0
			h4
				height 1.6em
				line-height 1.6em
				overflow hidden
				font-size 14px
				a
					display block
					color #985d3e
			p
				height 4.5em
				line-height 1.5em
				white-space normal
				text-overflow ellipsis
				overflow hidden
			.card-ft
				margin 10px 0 20px 0
				.counts
					span
						padding-right 10px