.icon-songlist:before
	content "\e600"
.icon-next:before
	content "\e608"
.icon-prev:before
	content "\e650"
.icon-random:before
	content "\e603"
.icon-sloop:before
	content "\e604"
.icon-paused:before
	content "\e605"
.icon-playing:before
	content "\e606"
.icon-loop:before
	content "\e607"
.player-wrap
	position fixed
	width 100vw
	height 60px
	background-color rgba(2,2,2,.9)
	background-image -moz-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#0f0f0f))
	background-image -ms-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#0f0f0f))
	background-image -o-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#0f0f0f))
	background-image -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#0f0f0f))
	background-image gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#0f0f0f))
	background-image -webkit-linear-gradient(top, #3a3a3a, #0f0f0f)
	border 1px solid #121212
	bottom 0
	left 0
	box-shadow 0 2px 8px 4px rgba(10,10,10,.4)
	z-index 9999
	.player
		width 960px
		margin 0 auto
		position relative
		::-webkit-scrollbar 
			width 14px  
			height 14px
		::-webkit-scrollbar-track,::-webkit-scrollbar-thumb
			border-radius 999px
			border 5px solid transparent
		::-webkit-scrollbar-track
			box-shadow 1px 1px 5px rgba(0,0,0,.95) inset
		::-webkit-scrollbar-thumb
			min-height 20px 
			background-clip content-box
			box-shadow 0 0 0 5px rgba(110,110,110,.9) inset
		::-webkit-scrollbar-corner
			background transparent
		.songandlrc
			width 960px
			position absolute
			bottom 60px
			left 0
			overflow hidden
			color #e1e1e1
			.sl-hd
				height 40px
				line-height 40px
				background-color #090909
				border-radius 5px 5px 0 0
				.slhd-fl
					width 600px
					float left
					span
						padding-left 1em
				.slhd-fr
					margin-left 600px
					height 40px
					text-align center
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
			.player-info
				background-color rgba(10,7,7,.9)
			.player-song-list
				height 240px
				width 600px
				float left
				overflow-x hidden
				overflow-y auto
			.player-lyric
				height 240px
				width 360px
				margin-left 600px
				overflow-x hidden
				overflow-y auto
				p
					text-align center
					padding .5em 0
					color #a9a9a9
		.player-btn
			height 60px
			color #e9e9e9
			.player-btnwp
				display flex
				flex-direction row
				align-items center
				justify-content space-between
				flex-wrap wrap
				.player-control
					width 160px
					display flex
					justify-content space-around
					a
						display block
						width 40px
						height 40px
						line-height 40px
						text-align center
						i
							font-size 30px
							-webkit-text-stroke-width 0px
						.mp
							font-size 38px
				.player-song-info
					width 660px
					.song-album
						width 42px
						height 42px
						margin-top 9px
						float left
						img
							width 100%
					.player-in
						margin-left 50px
						.player-baras
							height 30px
							line-height 30px
						.player-barw
							height 30px
							display flex
							align-items center
							.player-bar
								width 560px
								height 6px
								background-color #3c3c3c
								border-radius 6px
								position relative
								.player-barhr
									height 6px
									border-radius 6px
									background-color #6a6a6a
									position absolute
									left 0
									top 0
							div:nth-child(2n+1)
								width 50px
							.player-sd
								margin-left 6px
								text-align center
				.player-menu
					width 80px
					display flex
					justify-content space-around
					a
						display block
						width 40px
						height 35px
						line-height 35px
						text-align center
						margin-top 25px
						i
							font-size 20px
							-webkit-text-stroke-width 0px
					.song-lyric
						margin-top 23px
						i
							font-size 22px
			a
				color #e9e9e9
.player-song-list
	ul
		li
			height 32px
			line-height 32px
			padding 0 1em
			white-space nowrap
			text-overflow ellipsis
			overflow hidden
			cursor pointer
			a,span
				color #e9e9e9