html,body
	margin 0
	padding 0
	background-color #fff
	.block
		display block
	.hide
		display none

body
	line-height 1.5em
	background-color #fff
	font-family "Helvetica Neue",Helvetica,Roboto,Arial,"PingFang SC","Noto Sans CJK SC","Source Han Sans CN","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif
	font-size: 14px
	color #2a2a2a

ul,ol,li
	list-style-type none

img,button,input,textarea,select
	border none
	resize none

ul,ol,li,div,p,img,button,input,textarea,select,form,header,footer,section,aside,article,nav,hgroup,figure,figcaption,h1,h2,h3,h4,h5,h6,dl,dt,dd,bl,ockquote,legend,table,th,td,fieldset,menu,pre
	padding 0
	margin 0

a,a:hover
	color #666
	text-decoration none
	cursor pointer

.wrapper
	width 960px
	margin 0 auto
.gra-btn
	border 1px solid #dadada !important
	background-color #f6f6f6 !important
	color #2a2a2a !important
.gre-btn
	border 1px solid #69b219 !important
	background-color #69b219 !important
	color #fff !important
.mtem1
	margin-top 1em
.mtpx30
	margin-left 30px
.header
	height 58px
	border-bottom 2px solid #69b219
	background-color #545652
	.logo
		width 120px
		height 58px
		line-height 58px
		float left
		font-size 16px
		color #d9d9d9
	.header-nav
		margin-left 125px
		li
			display inline-block
			a
				display inline-block
				height 58px
				line-height 58px
				padding 0 10px
				color #d9d9d9
		.active
			a
				background-color #3a3a3a
				color #f3f3f3
				
.playlist-category
	margin-top 1em
	ul
		margin-left -1em
		li
			display inline-block
			margin-left 1em
			margin-bottom 1em
			height 35px
			span
				display inline-block
				padding 0 10px
				height 33px
				line-height 33px
				border-radius 5px
				cursor pointer
.playlist-item
	ul
		margin-left -30px
		.playlist-card
			display inline-block
			margin-bottom 30px
			background-color #fff
			.card-main
				width 298px
				border 1px solid #dfdfdf
				box-shadow 0px 1px 2px 0px rgba(158,158,158,0.2)
				.card-header
					height 260px
					position relative
					overflow hidden
					img
						width 100%
				.card-body
					padding 10px 10px 0
					h4
						height 1.6em
						line-height 1.6em
						overflow hidden
						font-size 14px
						color #985d3e
					p
						height 4.5em
						line-height 1.5em
						white-space normal
						text-overflow ellipsis
						overflow hidden
					.card-ft
						margin 10px 0 20px 0
						.counts
							span
								padding-right 10px